# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_CYGNUS_LEFT

config ZMK_KEYBOARD_NAME
    default "cygnusL"

config ZMK_SPLIT
    default y

# Left half is the BLE central: it talks directly to the host (PC)
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CYGNUS_RIGHT

config ZMK_KEYBOARD_NAME
    default "cygnusR"

config ZMK_SPLIT
    default y

# Right half is a BLE peripheral: it connects to the left (central)
config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif
